{% extends 'layout.html' %}
{% block body %}
<div class="jumbotron text-center">
    <h1>O nama</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis lectus eget purus sollicitudin condimentum. Nam rhoncus efficitur scelerisque. Mauris cursus lorem vitae consectetur congue. Sed tincidunt purus et arcu scelerisque ornare. Nunc eu sagittis magna. Proin efficitur eu nisi nec efficitur. Aliquam quis suscipit sapien. Ut feugiat massa aliquet, aliquam arcu malesuada, euismod nisi.

Pellentesque in augue magna. Vivamus maximus imperdiet hendrerit. Proin mollis lorem ut mauris fringilla iaculis. Sed semper enim a enim molestie placerat. Vivamus dictum ante ac libero interdum vestibulum. Vivamus nec tempus metus, vel volutpat felis. In porttitor dui eget nunc pulvinar sagittis. In dapibus blandit lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin posuere mollis est, a semper erat placerat ut. Nullam efficitur massa et elit euismod viverra. Praesent convallis iaculis massa. In ornare dapibus faucibus. Etiam non mi ligula.</p>
</div>
{% endblock %}